/* Layout styles */
.layout {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

/* Sidebar styles */
.sidebar {
  width: 250px; /* Fixed width */
  background-color: #f4f4f4; /* Light grey background */
  height: 100vh; /* Full height */
  position: fixed; /* Stays in place */
  top: 0;
  left: 0;
  overflow-y: auto; /* Allows scrolling if needed */
  flex-shrink: 0; /* Prevents shrinking */
}

/* Main content area */
.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Ensures it stays separate from the sidebar */
  padding: 20px 50px ;
  background-color: #fff; /* White background */
  overflow-x: hidden;
}