.successanddeleteimagedivforlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fabfbf;
    border-radius: 40px;
    margin-left: 10px;
}

.successanddeleteimagedivforlogin p {

    font-size: 37px;
    color:#ffffff;
}

input {}

.login {
    display: flex;
    height: 100vh;
}

.form::-webkit-scrollbar {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    width: 614px;
    height: 467px;
    gap: 40px;
    margin: auto;
}

.loginlogo {
    margin-top: 50px;
    margin-left: 50px;
}


.loginlogo img {
    width: 98px;
    height: 59px;
}

.form .headingwelcome {
    text-align: left;
}

.form .welcometext {
    font-family: Lexend;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #1A0F28;
}

.form .instruction {
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1A0F28;
}

/* input */








/* NEW UPDATE */


.emailnotactive {
    display: flex;
    flex-direction: column;
    width: 614px;
    height: 70px;
    display: flex;
    background: #F3F3F3;
    border-radius: 20px;
    border: 1.5px solid #EDEDED;
    margin: 0 auto;
}



.emailnotactive label {
    display: none;
}

.emailnotactive input {
    width: 614px;
    height: 70px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #F3F3F3;


}

.emailactive {
    display: flex;
    flex-direction: column;
    width: 614px;
    height: 70px;
    border-radius: 20px;
    margin: 0 auto;
    background: #F9FFEF;
    align-content: flex-start;
    border: 1.5px solid #A0C077;
    background: #F3F3F3;
    overflow: hidden;
}

.emailactive input {
    width: 614px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #F9FFEF;

    /* padding-left: 25px; */
}

.emailactive label {
    font-family: Lexend;
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1B9D2F;
    padding-top: 10px;
    padding-left: 23px;
    display: flex;
}

.email {
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 614px;
    height: 70px;
    background: #F3F3F3;
    padding-left: 20px;
}

.email::placeholder {
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1A0F28;
    opacity: 0.5;
}




/* Password */
.passwordinput {
    display: flex;
    width: 614px;
    height: 70px;
    display: flex;
    background: #F3F3F3;
    border-radius: 20px;
    border: 1.5px solid #EDEDED;
    margin: 0 auto;
    gap: 14px;
    align-items: center;
}

.passwordinput input {
    width: 500px;
    height: 70px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #F3F3F3;



}

.passwordinput h3 {
    font-family: Lexend;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    vertical-align: middle;
    color: #1E1E1E;
    width: 100px;
    margin-right: 3px;
    opacity: 0.7;
}


/* Active password */

.activepassword {
    width: 614px;
    height: 70px;
    display: flex;
    background: #F9FFEF;
    border-radius: 20px;
    align-items: center;
    border: 1.5px solid #A0C077;
    margin: 0 auto;
}

.activepassword label {
    font-family: Lexend;
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1B9D2F;
    padding-top: 10px;
    padding-left: 23px;
    display: flex;
    gap: 14px;
}

.activepassword input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 25px;
    background: #F9FFEF;
}

.activepassword h3 {
    width: 100px;
    font-family: Lexend;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    vertical-align: middle;
    color: #1E1E1E;
    margin-right: 3px;
    opacity: 0.7;
}

.password {
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 614px;
    height: 70px;
    background: #F3F3F3;
    padding-left: 20px;
}

.password::placeholder {
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1A0F28;
    opacity: 0.5;
}

.forgotpassword {
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    align-self: center;
    color: #1A0F28;

}

.registerbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 614px;
    height: 70px;
    border-radius: 16px;
    background: #1B9D2F;
    font-family: Lexend;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    vertical-align: middle;
    gap: 10px;

}

.loading {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #FFFFFF;
    width: 614px;
    height: 70px;
    border-radius: 16px;
    background: rgba(27, 157, 47, 0.8);
    font-family: Lexend;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    vertical-align: middle;

}

.spinner {
    width: 19px;
    height: 19px;
    border-radius: 150px;
    border: 6px solid;
    border-color: #ffffff;
    border-right-color: #1b9d2f;
    animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}

.sideimage {
    object-fit: contain;
    height: 100vh;
}