.sidebar {
  width: 317px;
  height: 1200px;
  top: 18px;
  left: 21px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  z-index: 500;
  background-color: #f9ffef;
  /*  height: 100vh; */
}

.sidebar-header {
  width: 169px;
  height: 96px;
  margin-top: 10px;
  margin-left: 33px;
  margin-bottom: 18px;
  display: flex;
}

.sidebar-header .logo {
  width: 169px;
  height: 96px;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 1px 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  height: 763px;
  /* gap: 50px; */
  gap: 10px;

}

.sidebar-menu .wholeroutes {
  display: flex;
  align-items: center;
  align-self: center;
  height: fit-content;
  padding: 5px 5px;
  gap: 24px;
  margin: 7px 0px;
  /* width: 210px; */
  width: 128px;
  font-family: Outfit;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 25px;
  padding-right: 75px;

}

.sidebar-menu li a {
  text-decoration: none;
  width: 210px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.sidebar-menu .active {
  width: 220;
  height: 39.45111846923828;
  display: flex;
  border-radius: 10px;
  background: #1B9D2F;
  padding-left: 25px;
  padding-right: 75px;
  height: 39.45111846923828px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  /* margin: 7px 0px; */
  /* width: 210px; */
}

.sidebar-menu .active h3 { 
  color: #FFFFFF;

}

.sidebar-menu.active img {
  width: 24px;
  height: 24px;
}

.sidebar-menu li.active a {
  color: white;
  border: none;
}

.sidebar-menu .sidebaricon h3 {
 
}

.sidebaricon {}

.sidebar-menu .sidebaricon img {
  width: 24px;
  height: 24px;
  color: black;
}


/* .sidebar-menu li a:hover {
  background: #d4edc9;
  border-radius: 0;
} */

.sidebar.collapsed .sidebar-menu li {
  justify-content: center;
  padding: 10px;
}

.sidebar.collapsed .sidebar-menu li a {
  justify-content: center;
}

.sidebar.collapsed .sidebar-menu li a span {
  display: none;
}