.sidebar {
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: #eef6e5;
  padding-top: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  /*   -webkit-transition:;
  -moz-transition:;
  -ms-transition:;
  -o-transition:; */
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  width: 120px;
  transition: opacity 0.3s ease;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}

.sidebar.collapsed .logo {
  opacity: 0;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 5px 20px;
  gap: 10px;
  width: 210px;
  margin: 5px 0px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s, color 0.3s;
  width: 100%;
  padding: 10px;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
}
.sidebar-menu .active h3{
  border:none;
}
.sidebar-menu img{
  width: 20px;
  height: 20px;
}

.sidebar-menu .active {
  background: #a3e635;
  height: fit-content;
  border-radius: 10px;
  width: 210px;
  border-radius: 20;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
  border: none;
}

.sidebar-menu li.active a {
  color: white;
  border: none;
}

/* .sidebar-menu li a:hover {
  background: #d4edc9;
  border-radius: 0;
} */

.sidebar-menu li .icon {
  width: 20px;
  height: 20px;
}

.sidebar.collapsed .sidebar-menu li {
  justify-content: center;
  padding: 10px;
}

.sidebar.collapsed .sidebar-menu li a {
  justify-content: center;
}

.sidebar.collapsed .sidebar-menu li a span {
  display: none;
}
