* {
    margin: 0;
    padding: 0;
    color: rgb(83, 81, 81);
}

.tablesortandtable {
    align-items: center;
    margin: 0px 5rem;
}

.items {
    display: -webkit-box;
    max-width: 300px;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bargaintablesortdiv {
    width: 1110px;
    margin: 0 auto;
}

.customertablesort {
    width: 594px;
    height: 58px;
    border-radius: 20px;
    border-width: 2px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 17px;
    margin-bottom: 4rem;
    -webkit-backdrop-filter: blur(10px);
    align-self: flex-start;
    background-color: #FFFFFF;
}

.customertablesort .activestatus {
    background-color: rgb(29, 173, 29);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 140px;
    height: 36px;
    border-radius: 16px;
    gap: 10px;
    display: flex;
    text-wrap: nowrap;
    font-family: Urbanist;
    font-weight: 700;
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0%;
    border-radius: 20px;


}

.customertablesort .unactive {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8F8F8F;
    text-wrap: nowrap;
    cursor: pointer;
    width: 140px;
    height: 36px;
    border-radius: 16px;
    gap: 10px;
    font-family: Urbanist;
    font-weight: 700;
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0%;

}

.dropdown {
    width: 15px;
    height: 15px;
}

/* Added css */


/* General CSS */

.customercustomertablesortandtable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 1110px;
    height: 618px;
    border-radius: 20px;
    margin: 0 auto;
    gap: 32px;
    background-color: #FFFFFF;
}

.customertable-containerheader div {
    gap: 8px;
}

.customertable-containerheader div img {
    height: 18px;
    width: 18px;
    margin-top: 10px;
}

.customertable-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* justify-content: center; */
    width: 1054px;
    margin: 0 auto;
    border-radius: 8.98px;
    /*  justify-content: space-between; */
    padding-right: 10px;
    padding-left: 10px;
}

.customertable-containerheader h2 {
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #6C727F;
}

.customertable-container .id {
    display: flex;
    width: 67px;
}

.customertable-containerheader .id {
    align-items: center;
}

.customertable-containerbody .id {
    display: flex;
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
    align-items: center;
    justify-content: center;
}

.customertable-container .Items {
    display: flex;
    width: 267px;
    text-align: left;
    align-items: center;
    padding-left: 10px;

}

.customertable-containerbody .Items {
    align-items: center;
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
}

.customertable-container .Purchase {
    width: 162px;
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 10px;
}

.customertable-containerbody .Purchase {
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
}

.customertable-container .Business {
    width: 224px;
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 10px;

}

.customertable-containerbody .Business {
    gap: 12px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
}

.customertable-container .Date {
    width: 97px;
    display: flex;
    height: 58px;
    text-align: left;
    align-items: center;
    padding-left: 10px;
}

.customertable-containerbody .Date {
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
}

.customertable-container .Status {
    width: 100px;
    display: flex;
    height: 58px;
    text-align: left;
    align-items: center;
    padding-left: 10px;
}

.customertable-containerbody .Status {
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #535353;
}


.customertable-container .Status .delivered {
    width: 69px;
    height: 27px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #27AE601A;
    color: #27AE60;
    font-family: Outfit;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant-numeric: lining-nums proportional-nums;
    text-wrap: nowrap;
}

.customertable-container .Status .pending {
    width: 69px;
    height: 27px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #FFC33426;
    color: #FF9500;
    font-family: Outfit;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant-numeric: lining-nums proportional-nums;
}

.customertable-container .Status .declined {
    width: 64px;
    height: 27px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #F2994A29;
    color: #FF3B30;
    font-family: Outfit;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant-numeric: lining-nums proportional-nums;

}

.customertable-container .Action {
    width: 84px;
    display: flex;
    height: 58px;
    text-align: left;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.customertable-containerbody .Action img {
    height: 24px;
    width: 24px;
}

.customertable-container .customertable-containerbody .Business img {
    width: 26px;
    height: 26px;
    border-radius: 100px;
}

.table,
.thead {
    width: 1054px;
}

.customertable-container {
    display: flex;
}

.customertable-containerheader {
    display: flex;
    width: 1054px;
}

.customertable-containerbody {
    display: flex;
    flex-direction: column;
    width: 1054px;
}

.customertable-containerrow {
    display: flex;
    width: 1054px;
}

/* .customertable-container .id {
    width: 67px;
    height: 464;
    justify-content: space-between;

}
 */



/* customers or Customers pagination */
.customerspagination {
    display: flex;
    justify-content: space-between;
    border-right-width: 1px;
    width: 1032px;
    height: 82px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 20px;

}

.customerspagination .next {
    width: 123px;
    height: 50px;
    border-radius: 20px;
    border-width: 2px;
    border: 2px solid #A0C077;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1A0F28;


}

.customerspagination .productnext img {
    width: 7.142858028411878px;
    height: 15.000000000000007px;
    top: 20px;
    left: 22px;
    border-width: 1.5px;
}

.customerspagination .previous {
    width: 123px;
    height: 50px;
    border: 2px solid #A0C077;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #1A0F28;
}

.customerspagination .previous,
.customerspagination .next:hover {
    cursor: pointer;
}

.customerspagination .numbering {
    height: 40px;
    display: flex;
    gap: 2px;
    font-family: Nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;

}

.customerspagination .allpagebutton:hover {
    cursor: pointer;
}

.customerspagination .pagebutton {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    justify-content: center;
}

.customerspagination .pagebuttonactive {
    border: 1px solid #A0C077;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    justify-content: center;
}


/* Action */


.dashboardaction {
    position: absolute;
    top: 100%;
    z-index: 1000;
    width: 142px;
    height: 163px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 16px;
    gap: 10px;
    background-color: #f9ffef;
    border: none;
    text-wrap: nowrap;
    font-family: Nunito;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant-numeric: lining-nums proportional-nums;
    color: #292925;


}

.dashboardaction .normal {
    display: flex;
    gap: 10px;
    height: 18px;
    align-items: center;
    gap: 10px;
}

.dashboardaction .underline {
    border-bottom: 0.3px solid lightgray;
    padding-bottom: 14px;
    border-radius: 4px;
}

.dashboardaction .normal:hover {
    cursor: pointer;
}

.dashboardaction .delete {
    color: #F24822
}

.dashboardaction li {
    font-size: 18px;
}

.dashboardaction li img {
    width: 18px;
    height: 18px;
}
