* {
    margin: 0;
    padding: 0;
}

.ordertableitem {
    display: flex;
    gap: 20px;
    width: 1122px;
    height: 914px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.ordertableiteminnerdiv {
    width: 994px;
    height: 836px;
    gap: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.ordertableitemdetails {
    width: 616px;
    height: 836px;
    gap: 55px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    text-align: left;
    gap: 17px;
}

.ordertableitemdetails .goodsrequested {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 34px;
    line-height: 105%;
    letter-spacing: 0%;
    color: #040404;

}

.ordertableitemdetails .costandstatus {
    display: flex;
    align-items: center;
    /* width: 339.0201416015625px; */
    height: 46px;
    gap: 20px;
}

.ordertableitemdetails .costandstatus h1 {
    font-family: Nunito;
    font-weight: 900;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    color: #1B9D2F;
}

.ordertableitemdetails .costandstatus .pending {
    font-family: Nunito;
    font-weight: 500;
    font-size: 20.3px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #F57E20;
    background: #FFF6EC;
    border-radius: 11.52px;
    text-align: center;

    padding-top: 2.88px;
    padding-right: 17.28px;
    padding-bottom: 2.88px;
    padding-left: 17.28px;

}

.ordertableitemdetails .costandstatus .awaiting {
    font-family: Nunito;
    font-weight: 500;
    font-size: 20.3px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #05A6F0;
    background: #E7F8FF;
    gap: 5.76px;
    border-radius: 11.52px;
    text-align: center;
    padding-top: 2.88px;
    padding-right: 17.28px;
    padding-bottom: 2.88px;
    padding-left: 17.28px;

}

.ordertableitemdetails .costandstatus .awaitingafterdriverscheduled {
    font-family: Nunito;
    font-weight: 500;
    font-size: 20.3px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #1B9D2F;
    background: #E6F5E7;
    border-radius: 11.52px;
    text-align: center;
    padding-top: 2.88px;
    padding-right: 17.28px;
    padding-bottom: 2.88px;
    padding-left: 17.28px;


}

.ordertableitemdetails .description {
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #666666;

}

.ordertableitemdetails .note {
    font-family: Nunito;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #666666;
}

.ordertableitemdetails h5 {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #3E3E3E;
}

.ordertableitemdetails .sizes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;



}

.ordertableitemdetails .sizes p {
    display: flex;
    width: 164px;
    height: 45px;
    gap: 8px;
    border-radius: 8px;
    background: #E2E2E2;
    font-family: Nunito;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #3E3E3E;
    align-items: center;
    justify-content: center;

}

.ordertableitemdetails .recieversdetails {
    display: flex;
    justify-content: space-between;
    width: 616px;
    height: 158px;
}

.ordertableitemdetails .recieversdetails .recieversdetailsleft {
    text-align: left;
    gap: 12px;
    font-family: Nunito;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #828282;

}

.ordertableitemdetails .recieversdetails .recieversdetailsright {
    text-align: right;
    gap: 12px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #828282;
}

.ordertableitemdetails .confirmationbuttons {
    display: flex;
    width: 616px;
    height: 64px;
    gap: 20px;


}

.ordertableitemdetails .confirmationbuttons .confirm {
    display: flex;
    width: 298px;
    height: 64px;
    gap: 10px;
    border-radius: 15px;
    color: #FFFFFF;
    background: #1B9D2F;
    font-family: Nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1%;
    align-items: center;
    justify-content: center;

}

.ordertableitemdetails .confirmationbuttons .decline {
    display: flex;
    width: 298px;
    height: 64px;
    gap: 10px;
    border-radius: 15px;
    color: #FFFFFF;
    background: #FF0000;
    font-family: Nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1%;
    align-items: center;
    justify-content: center;

}

.ordertableitemdetails .awaitingconfirm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B9D2F;
    width: 616px;
    height: 64px;
    gap: 20px;
    border-radius: 20px;


}

.ordertableitemdetails .awaitingconfirm p {
    color: #FFFEFE;
    font-family: Nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1%;

}

.ordertableitempicture {
    width: 378px;
    height: 836px;
    gap: 55px;
    display: flex;
    gap: 17px;
}

.ordertableitempicture img {
    width: 298px;
    height: 347px;
    margin: 0 auto;
}