.resetpasswordor2fa {
    display: flex;
    flex-direction: column;
    width: 706px;
    height: 205px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 2100;
    background-color: white;
}

.resetpasswordor2fa h2 {
    width: 658px;
    margin: 16px auto 30px auto;
    font-family: Outfit;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #252525;
}

.textandresetbtn {
    display: flex;
    flex-direction: column;
    width: 658px;
    height: 102px;
    gap: 25px;
    margin: 0 auto;

}

.textandresetbtn p {
    font-family: Outfit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
    color: #8F8F8F;

}

.textandresetbtn .actionbtnforreset {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 53px;
    border-radius: 16px;
    gap: 16px;
    background: #1B9D2F;
    color: #FFFFFF;
    font-family: Outfit;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}