.dispute-orders-table-maindiv {
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 845px;
    border-radius: 20px;
    padding: 40px 28px 60px 28 px;
    gap: 16px;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0 auto;

}

.dispute-orders-table {
    width: 1054px;
    height: 692px;
    border-radius: 24px;
    padding: 32px;
    gap: 16px;
    margin: 0 auto;

}

.disputes {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #4F4F4F47;
    width: 990px;
    height: 144px;
    gap: 16px;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 16px;

}

.disputes .description {
    font-family: Outfit;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;

}

.disputes .response {
    font-family: Outfit;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
}

.headerimageandnameanddate {
    display: flex;
    align-items: center;
    gap: 29px;
    height: 40px;

}

.headerimageandnameanddate .dsiputedate {
    display:flex;
    font-family: Outfit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    align-items: center;
margin-top: 10px;;

}

.headerimageandnameanddate .headerimageandname {
    display: flex;
    align-items: center;
    gap: 6px;

}

.headerimageandname img {
    width: 40px;
    height: 40px;

}

.headerimageandname h2 {
    font-family: Outfit;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-wrap: nowrap;
}

.disputes .response {
    font-size: 15px;
    font-weight: 800;
}